---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
	  <Icon
		icon="terminal-window"
		color="var(--accent-regular)"
		size="2.5rem"
		gradient
	  />
	  <h2>Full Stack</h2>
	  <p>
		Même avec mon expérience limitée, tant dans le cadre scolaire que
		professionnel, j'ai pu développer des compétences solides en travaillant
		avec des technologies telles que Java, Angular, SQL et Git.
	  </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
	  <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
	  <h2>Travail en équipe</h2>
	  <p>
		J'accorde une grande importance à travailler au sein d'une équipe et à
		pouvoir partager et échanger avec mes collègues.
	  </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
	  <Icon
		icon="strategy"
		color="var(--accent-regular)"
		size="2.5rem"
		gradient
	  />
	  <h2>Ouvert d'esprit</h2>
	  <p>
		En débutant ma carrière en tant que développeur, je suis enthousiaste à
		l'idée d'explorer toutes les opportunités qui contribueront à ma
		croissance professionnelle. Je suis une personne autonome et rigoureuse,
		constamment avide d'apprendre.
	  </p>
	</div>
  </section>
  

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
